h1 h2 h3 h4 {
	font-weight: 700;
	margin: 10px;
	letter-spacing: 3px;
	font-family: 'Open Sans', serif;
}
ol li, ul li {
	list-style-type: none;
	margin: 5px;
	font-family: 'Open Sans', serif;
}
html, body {
	height: 100%;
	width: 100%;
	overflow: scroll;
	background: url(/images/green-background.jpg) no-repeat;
	background-size: cover;
}
a {
	text-decoration: none;
}
<<<<<<< HEAD
.glyphicon {
	cursor: pointer;
}
.hide {
	display: none;
}
.show {
	display: block;
	color: #fff;
	font-size: 100%;
	text-decoration: underline;
}

.navbar {
	width: 100%;
	height: 50%;
	background-color: rgba(72,72,72,0.3);
}
nav, .navbar, .navbar-default, .navbar-brand {
	border: none;
=======
.navbar {
	width: 100%;
	background-color: rgba(80,80,80,0.8);
	border: 1px solid #505050;
>>>>>>> parent of e8a2ef6... eh
}
.navbar-default .navbar-brand li a {
	width: 100%;
	color: #fff;
	font-weight: 600;
	text-shadow: 2px 2px 0px #000, 3px 3px 0px #000; 
}

.navbar, .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:hover {
	padding: 10px 10px;
	font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
	font-size: 15px;
	color: #eee;
	letter-spacing: 2px;
	text-decoration: none;
	text-shadow: 2px rgba(0, 0, 0, 0.8), 3px rgba(0, 0, 0, 0.8);
}
#center {
	width: 65%;
}
#center a {
=======
	color: #F6F6F6;
	letter-spacing: 3px;
	font-weight: normal;
>>>>>>> parent of e8a2ef6... eh
	text-decoration: none;
}
.navbar, .navbar-default .navbar-nav {
	margin-top: 3px;
}
.nav-pic {
	max-height: 25px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.prof-img{
  width:100%;
  max-width:100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.nav-tabs {
  margin-top:30px;
}
.container, .login-container, .profilepage, .health {
	min-width: 100%;
	border: none;
}
.balance {
	letter-spacing: 10px;
}
.profileimg {
	width: 150px;
	height: 150px;
	border-radius: 50px;
}
.caption {
	color: #fff;
	text-align: center;
<<<<<<< HEAD
	margin: 50px auto;
	border-radius: 3px;
	box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
	background-color:rgba(72,72,72,0.3);
}
.caption h2 {
	font-size: 70px;
	font-size: 4em;
=======
	margin: 10px;
	margin-left: 350px;
	margin-right: 350px;
	padding: 10px;
	background-color:rgba(72,72,72,0.5);
	max-width: 600px;
}
.app-title {
	margin: 0 auto;
>>>>>>> parent of e8a2ef6... eh
	text-shadow: 2px 2px 0px #000, 3px 3px 0px #000;
	margin-top: 5px;
	line-height: 200%;
	font-size: 56px;
	font-weight: 700;
}
.subtitle {
	color: #fff;
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 20px;
	word-spacing: 3px;
<<<<<<< HEAD
}
.caption h3 {
	font-size: 30px;
	font-size: 1.5em;
	text-shadow: 2px 2px 0px #000, 3px 3px 0px #000; 
}
.caption a {
	text-align: center;
	text-decoration: none;
=======
	text-shadow: 1px 1px 3px;
>>>>>>> parent of e8a2ef6... eh
}
.btn-primary {
	background-color: #c2c91a;
	color: #fff;
	font-size: 20px;
	border-color: none;
	box-shadow: 0 -5px 8px;
	max-width: 200px;
}
.btn  {
	max-width: 200px;
	letter-spacing: 3px;
	text-shadow: 3px;
}
.profilepage {
	background-size: cover;
	background-color: #f8f8f8;
	width: auto;
	height: 100%;
	box-shadow: 0 -5px 8px;
	font-size: 150%;
}
/*Pics Layout - Grid/List*/
*{
	margin:0;
	padding:0;
	.form-div-login {
		margin: 0 auto;
	}
}
.upload {
	margin: 0 auto;
}
.picLayout {
	overflow: hidden;
	color: #5e5b64;
	text-align:center;
}
section, footer, header, aside {
	display: block;
}
.health-header h2 {
	margin: 8px 0 0 50px; 
}
.bar{
	min-width: 440px;
	background-color: #5d7946;

	background-image:-webkit-linear-gradient(top,: #5d7946, #bfbe06);
	background-image:-moz-linear-gradient(top,: #5d7946, #bfbe06);
	background-image:linear-gradient(top,: #5d7946, #bfbe06);

	box-shadow: 0 1px 1px #505050;
	border-radius: 5px;
	border: #505050 solid 1px;
	color: #eee;
	display: inline-flex;
	padding: 10px;
	margin: 10px auto 5px;
	text-align: left;
}
.bar a{
	background: #bfbe06 center center no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
	text-decoration: none !important;
	margin-right: 5px;
	border-radius: 2px;
	cursor: pointer;
}

.bar a.active{
	background-color: #86c8d4;
}

.bar a.list-icon{
	background-image:url(../images/list.png);
}

.bar a.grid-icon{
	background-image:url(../images/grid.png);
}
@media (max-width: 300px) {
  .bar {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 200px) {
  .bar {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
@media (max-width: 100px) {
  .bar {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
/*-------------------------
	List layout
--------------------------*/
ul.list{
	list-style: none;
<<<<<<< HEAD
	background: rgba(250, 250, 250, 0.8) scroll;
	overflow: auto;
	width: 95%;
	max-height: 700px;
=======
	width: auto;
	margin: 0;
>>>>>>> parent of e8a2ef6... eh
	text-align: left;
}
ul.list li{
	font-weight: 700;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
}
ul.list li img {
	margin-right: 5px;
	width:120px;
	height:120px;
	float:left;
	border: 3px solid #bfbe06;
}
ul.list li p{
	color: #ffffff;
}
span.result-title {
	color: #ffffff; 
	font-size: 12px;
	font-weight: 700; 
	letter-spacing: 1px;  
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
	padding: 9px; 
}
/*-------------------------
	Grid layout
--------------------------*/

ul.grid{
	list-style: none;
	width: 450px;
	margin-left: 50px;
	text-align: left;
}
ul.grid li{
	padding: 2px;
	float:left;
}
ul.grid li p{
	margin: -90px 0px 2px 1px;
	position: absolute;
	color: #05364B;
	max-width: 144px;
	max-height: 144px;
}
ul.grid li img{
	width:150px;
	height:150px;
	border: 3px solid #bfbe06;
	display:block;
}
.site-footer {
	width: 100%;
	height: 100%;
	font-style: bolder;
	font-size: 18px;
	border: none;
	word-spacing: 5px;
	color: #f8f8f8;
<<<<<<< HEAD
	padding: 5px;
	margin: 5px;
  	display: inline-block;
  	text-shadow: 3px;
  	position: relative;

=======
	padding: 15px;
	margin-top: 30px;
}
.site-footer ul {
  margin-right: -150px;
  padding: 0;
  list-style-type: none;
}
.site-footer .nav-bottom li {
  position: relative;
  display: inline-block;
}
.site-footer li {
  position: relative;
  display: inline-block;
  margin: -15px;
  padding: 0;
  width: 25%;
  text-shadow: 3px;
}
.img-bottom {
  float:left;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50%;
>>>>>>> parent of e8a2ef6... eh
}
.img-bottom img {
	width: 15px;
	height: 15px;
}
.nav-bottom {
	margin-top: 50px;
  	float:left;
  	width: 45%;
}