
h1, h2, h3, h4 {
	font-weight: 700;
	margin: 5px;
	padding: 5px;
	letter-spacing: 3px;
}
ol li, ul li {
	list-style-type: none;
	margin: 5px;
}
html, body {
	height: 100%;
	width: 100%;
	overflow: scroll;
	background: url(/images/green-background.jpg) no-repeat;
	background-size: cover;
	font-family: 'Josefin Slab', serif;
}
.glyphicon {
	cursor: pointer;
}
.hide {
	display: none;
}
.show {
	display: block;
	color: #fff;
	font-size: 125%;
	text-decoration: underline;
}

.navbar {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
}
nav, .navbar, .navbar-default, .navbar-brand {
	border: none;
}
.navbar-brand {
	padding: 0px;
}	
.navbar-brand li a {;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8), 3px 3px 0px rgba(0, 0, 0, 0.8); 
}

.navbar, .navbar-default .navbar-nav li a {
	padding: 10px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #000;
	letter-spacing: 2px;
	text-decoration: none;
	text-shadow: 2px rgba(0, 0, 0, 0.8), 3px rgba(0, 0, 0, 0.8);
}
#center {
	width: 65%;
}
#center a {
	text-decoration: none;
	/*text-align: center;*/
}
.navbar, .navbar-nav {
	margin-top: 3px;
}

.nav-pic {
	max-height: 35px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.prof-img{
  width:100%;
  max-width:100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
#bs-example-navbar-collapse-1 ul li a {
	line-height: 28px;
}
.nav-tabs {
  margin-top:30px;
}
.container, .login-container, .profilepage, .health {
	min-width: 100%;
	border: none;
}
.login-buttons ul li {
	padding: 15px;
}
#button-login, #button-register {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	border: #fbfbfb solid 4px;
	cursor: pointer;
	background-color: #86c8d4;
	color: #ffffff;
	font-size: 22px;
	padding: 15px 110px;
	margin: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	font-weight: 700;
}
#button-register {
	padding-left: 96px;
	padding-right: 96px;
}
.balance {
	letter-spacing: 7px;
}
.profileimg {
	width: 120px;
	height: 120px;
	border-radius: 100%;
}
.caption {
	width: 800px;
	height: auto;
	padding: 20px;
	color: #f8f8f8;
	text-align: center;
	margin: 50px auto;
	border-radius: 3px;
	box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
	background-color: rgba(255, 255, 255, 0.3);
}
.caption h2 {
	font-size: 70px;
	font-size: 7em;
	text-shadow: 2px 2px 0px #000, 3px 3px 0px #000;
}
.subtitle {
	margin-top: 0;
	margin-bottom: 20px;
	word-spacing: 3px;
}
.caption h3 {
	font-size: 30px;
	font-size: 3em;
	text-shadow: 2px 2px 0px #000, 3px 3px 0px #000; 
}
.caption a {
	text-align: center;
}
.btn-primary {
	background-color: #c2c91a;
	color: #f8f8f8;
	font-size: 20px;
	border-color: none;
	box-shadow: 0 -5px 8px;
	max-width: 200px;
}
.btn  {
	max-width: 200px;
	letter-spacing: 3px;
	text-shadow: 3px;
}
.profilepage {
	font-family: 'Open Sans', sans-serif;
}
/*Pics Layout - Grid/List*/
*{
	margin:0;
	padding:0;
}
.upload {
	margin: 0 auto;
}
.picLayout {
	overflow: hidden;
	color: #5e5b64;
	text-align:center;
}
section, footer, header, aside {
	display: block;
}
.bar {
	min-width: 440px;
	max-height: 74px;
	background-color: rgba(188, 195, 1, 0.8);
	box-shadow: 0 1px 1px;
	border-radius: 3px;
	border: solid 3px;
	color: #fff;
	display: inline-flex;
	padding: 8px 10px 10px 10px;
	margin: 10px auto 5px;
	text-align: left;
}
.bar a{
	background: #bfbe06 center center no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
	text-decoration: none !important;
	margin-top: 10px;
	border-radius: 2px;
	cursor: pointer;
}

.bar a.active{
	background-color: #86c8d4;
}

.bar a.list-icon{
	background-image:url(../images/list.png);
}

.bar a.grid-icon{
	background-image:url(../images/grid.png);
}

@media (max-width: 300px) {
  .bar {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 200px) {
  .bar {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
@media (max-width: 100px) {
  .bar {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
/*-------------------------
	List layout
--------------------------*/
ul.list{
	list-style: none;
	background: rgba(250, 250, 250, 0.8) scroll;
	overflow: auto;
	width: 95%;
	max-height: 700px;
	margin-top: 25px;
	text-align: left;
	border: rgba(186, 231, 215, 1) solid 2px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px;
}
ul.list li{
	font-weight: 700;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
}
ul.list li img {
	margin-right: 5px;
	width:120px;
	height:120px;
	float:left;
	border: #5d7946 solid 2px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px;
}
ul.list li p{
	color: #000;
}
span.result-title {
	color: #fff; 
	font-size: 12px;
	letter-spacing: 1px;  
	background: rgba(0, 0, 0, 0.4);
	padding: 2px; 
}
/*-------------------------
	Grid layout
--------------------------*/

ul.grid{
	list-style: none;
	width: 450px;
	margin-left: 50px;
	text-align: left;
}
ul.grid li{
	padding: 2px;
	float:left;
}
ul.grid li p{
	margin: -90px 0px 2px 1px;
	position: absolute;
	color: #05364B;
	max-width: 144px;
	max-height: 144px;
}
ul.grid li img{
	width:150px;
	height:150px;
	border: 3px solid #5d7946;
	display:block;
}
.site-footer {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	word-spacing: 5px;
	color: #f8f8f8;
	padding: 5px;
	margin: 5px;
  	display: inline-block;
  	text-shadow: 3px;
  	position: relative;

}
.img-bottom img {
	width: 60px;
	height: 60px;
	border: solid #eee;
}