
.posts {
	max-width: auto;
	letter-spacing: 3px;
}
.post-label {
	color: #fff;
}
.content-title {
	margin-top: 10px;
}
.post, .addpost {
	width: auto;
	border: solid #9f9f9f;
	background-size: auto;
	background-color: #eee;
}
.post-view {
	letter-spacing: 3px;
}
.journal-icon {
	margin-left: 80px;
	margin-right: 60px;
	width: auto;
	max-height: 60px;
}
.posts-bar {
	min-width: 440px;
	max-height: 65px;
	background-color: #5d7946;
	box-shadow: 0 1px 1px #505050;
	border-radius: 5px;
	border: #505050 solid 1px;
	color: #eee;
	letter-spacing: 3px;
	display: inline-flex;
	padding: 10px;
	margin: 10px auto 5px;
	text-align: left;
}
.posts-header h2{
	margin: 8px 0 0 15px; 
	letter-spacing: 3px;
}
.post-owner {
	text-transform: capitalize;
}
.author {
	font-size: 14px;
}
.addpost .form-control {
	margin: 5px;
	padding: 5px;
	width: 80%;
}
.show-posts {
	margin: 25px auto;
}
.post-content { 
	font-size: 16px;
}
.post-title h3 {
	font-size: 20px;
	text-transform: capitalize;
}
.post-title span {
	font-size: 75%;
}
.post-row {
	max-width: 440px;
	margin: 10px;
	padding: 10px;
}
.post-header {
	margin: 0 auto;
}
.post-view {
	max-width: 600px;
	background-size: auto;
	background-color: #fcf8ef;
	border-style: solid;
	border-color: #eee;
	border-width:3px;
	border-radius: 3px;
}
.cmt-text { 
	max-width: 440px;
	border-radius: 3px;
	margin-top: 15px;
}
.author {
  font-size:14px;
  color:#bbb;
}