  <div class="form-main">
    <div class="form-div">
      <h3>Complete Your Profile Information</h3>
      <h4>Select a Photo</h4>
      <upload-directive></upload-directive> 
    <form class="form" id="form1" ng-submit="submitdetailSvc()" autocomplete="on">
      
      <p class="name">
        <input name="name" type="text" class="detail-input" id="name" ng-model="detail.firstname" placeholder="First Name" required="" tabindex="1" >
      </p>
      
      <p class="name">
        <input name="name" id="name" type="text" class="detail-input" ng-model="detail.lastname" placeholder="Last Name" required="" tabindex="2" >
      </p> 

      <p class="location">
        <input name="location" type="text" class="detail-input" id="location" ng-model="detail.location" placeholder="City, State, Postal Code, Country" required="" tabindex="3" />
      </p>

      <p class="name">
        <input class="detail-input" id="age" type="number" ng-model="detail.age" maxlength="3" min="13" max="115" name="age" placeholder="Age" tabindex="4" required="">
      </p>
     
      <p class="name">
        <input class="detail-input" id="gender" type="text" ng-model="detail.gender" name="gender" placeholder="Gender" required="" tabindex="5">
      </p>
      <p class="text">
        <textarea name="personalmsg" class="detail-input" id="comment" ng-model="detail.personalmsg" placeholder="Personal mantra or whatever else inspires you to live mindfully."  tabindex="6"></textarea>
      </p>
      <div class="submit">
        <input id="button-blue" type="submit" tabindex="7" value="Save detailSvcs"/>
      </div> 
  </form>
</div>
</div>
