 <div class="form-main-main" ng-repeat="(detailId, detail) in details">
  <div class="form-div-main" ng-show="signedIn() && detail.owner === currentUser.username">
      <img class="profileimg" ng-src="{{detail.photo}}"/>
    <form class="form" id="form1">
      <div class="currentuser">{{currentUser.username}}</div>
      <p class="name">
        <input name="name" type="text" class="detail-input-main" value="{{detail.firstname}}" id="name" />
      </p>
       <p class="name">
        <input name="name" type="text" class="detail-input-main" value="{{detail.lastname}}" id="name" />
      </p>
      <p class="location">
        <input name="location" type="text" class="detail-input-main" id="location" value="{{detail.location}}" />
      </p>
      <p class="name">
        <input name="age" type="text" class="detail-input-main" id="age" value="{{detail.age}}" />
      </p>
       <p class="name">
        <input name="gender" type="text" class="detail-input-main" id="gender" value="{{detail.gender}}" />
      </p>
      <p class="text">
        <textarea name="personalmsg" class="detail-input-main" id="comment">"{{detail.personalmsg}}"</textarea>
      </p>
  
      <!-- <div class="submit">
        <a id="details-button" href="#/users/{{currentUser.username}}"/>Back Home"</a>
        <div class="details-ease"></div> -->
      </div>
    </form>
  </div>
  </div>