<div class="login-container">   
                <div class="caption">
                    <p class="app-title balance">
                    <h2>Balanced</h2>
                   
                    <h3 class="subtitle">
                        Holistic health.  Live better.   
                    </h3>
                </p>
                <div class="login-buttons">
                    <ul>
                       <li> <a id="button-login" href="#/login">Login</a> </li>
                       <li> <a id="button-register" href="#/register">Register</a> </li>
                    </ul>
                </div>
             </div><!--caption end -->
    <footer class="site-footer">    
        <nav>
            <div class="footer-container">
                <div class="row">
                    <div class="img-bottom">
                        <img src="/images/Moi.jpg" alt=""> Andrew Raynal 2014 &copy;All Rights Reserved
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</div> <!-- end container -->