  <div class="create-details">
    <div class="create-form">
      <div class="header">
        <h2 class="form-header">Create Profile Info</h2>
      </div>
    <form class="contactform" ng-submit="submitDetail()">
      <upload-directive></upload-directive>
      <p class="contact"><label for="firstname">First Name</label></p>
      <input class="firstname" name="firstname" ng-model="detail.firstname" placeholder="First name" required="" tabindex="1" type="text">
      
      <p class="contact"><label for="lastname">Last Name</label></p>
      <input class="lastname" name="lastname" ng-model="detail.lastname" placeholder="Last name" required="" tabindex="2" type="text">      

      <p class="contact"><label for="location">Location</label></p>
      <input class="location" name="location" ng-model="detail.location" placeholder="City, State, Postal Code" tabindex="3" required="" type="text">

      <p class="contact"><label for="age">Age</label></p>
      <input class="age" type="number" ng-model="detail.age" maxlength="3" name="age" placeholder="Age" tabindex="4" required="">
     
     <p class="contact"><label for="gender">Gender</label></p>
      <select class="select-style gender" ng-model="detail.gender" name="gender" tabindex="5">
        <option value="select">I am...</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Other</option>
      </select> 
      <p class="contact"><label for="personalmsg">Personal Message</label></p>
      <input class="personalmsg" name="personalmsg" ng-model="detail.personalmsg" placeholder="Personal Message" required="" type="text" tabindex="5"> <br>
      <button class="btn btn-primary" type="submit">Add Details</button>  
  </form>
  <button class="btn btn-primary" ng-click="logout()">Logout</button>
</div>
      
</div>
