<div class="details">
    <div class="detail-body">
      <div ng-repeat="(detailId, detail) in details | filter:{visible: true} | limitTo: 1 ">
        <div class="profileimg"><img class="profileimg" ng-src="{{detail.photo}}"/></div>
        <ul class="detail-list">
          <li class=" detail-name">
              <label>{{detail.firstname | uppercase}} {{detail.lastname | uppercase}}</label>
          </li>
          <li class="">
            <label>Location:</label>
              {{detail.location}}
          </li>                
          <li class="">
              <label>Gender:</label>
              {{detail.gender}}
          </li>
          <li class="">
              <label>Age:</label>
              {{detail.age}}
          </li>
          <li class="">
              <label>Personal<br> 
                Message:</label>
              "{{detail.personalmsg}}"          
          </li>
          <li>
            <a class="btn btn-xs detail-btn" ng-click="deleteDetail(detailId)" ng-show="signedIn() &amp;&amp; detail.owner === currentUser.username" class=""><span class="glyphicon glyphicon-trash"></span>Delete Details</a>
            <a class="btn btn-xs detail-btn" href="#/details/{{detailId}}" ng-show="signedIn() &amp;&amp; detail.owner === currentUser.username"><span class="glyphicon glyphicon-pencil"></span>Edit Info</a>
          </li>
       </ul>
      </div> <!-- end ng repeat -->
    </div> <!-- end detail body -->
    <div class="detail-footer">
    </div> <!-- end footer -->
</div> <!-- end container -->