<div class="details">
    <div class="header">
        <h2>My Details</h2>
    </div>
    <div class="detail-body">
            <div ng-repeat="(detailId, detail) in details">
              <p><img class="profileimg" ng-src="{{detail.photo}}"/></p>
              <ul class="detail-list">
                <li class="col-xs-10">
                    {{detail.firstname | uppercase}} {{detail.lastname | uppercase}}
                </li>
                <li class="col-xs-10">
                  <label>Location:</label>
                    {{detail.location}}
                </li>                
                <li class="col-xs-10">
                    <label>Gender:</label>
                    {{detail.gender}}
                </li>
                <li class="col-xs-10">
                    <label>Age:</label>
                    {{detail.age}}
                </li>
                <li class="col-xs-10">
                    <label>Personal Message:</label>
                    {{detail.personalmsg}}
                </li>
              </ul>
              <button class="btn btn-xs" ng-click="deleteDetail(detailId)">Delete Details</button>
            <a class="btn btn-xs" href="#/details/{{ detailId }}">Edit Details</a>
            </div>
      </div>
          <div class="detail-footer">

          </div>
      </div>
</div>