<div class="detailList">
    <div class="header">
        <h2>My Details</h2>
    </div>
    <div class="detailBody">
            <div ng-repeat="(detailId, detail) in details">
              <p><img ng-src="{{detail.photo}}"/></p>
              <li class="col-xs-10 location">
                {{detail.firstname}}
              </li>
            </div>
      </div>
          <div class="detailFooter">
            <button class="btn btn-default btn-lg" ng-href="updateDetails(id)">Update Details</button>
          </div>
      </div>
</div>