<div class="detailList">
    <h2>My Details</h2>
      <div class="detailHeader">
        <h3 class="name">{{newDetail.firstname}}{{newDetail.lastname}}<h3>
        <a href="#/editdetails">Edit<span class="edit"></span></a>
          <div ng-include="'views/uploadimg.html'"></div>
      </div>   
      <div class="detailBody">
            <ul ng-repeat="(detailId, detail) in details">
              <li class="col-xs-10 location">
                <p>{{newDetail.location}}</p>
              </li>
              <li class="col-xs-10">
                <p>{{newDetail.gender}}</p>
                <a href="#/editdetails">Edit<span class="edit"></span></a>
              </li>
              <li class="col-xs-10">
                <p>{{newDetail.age}}</p>
                <a href="#/editdetails">Edit<span class="edit"></span></a>
              </li>
              <li class="col-xs-10">
                <p>{{newDetail.personalmsg}}</p>
                <a href="#/editdetails">Edit<span class="edit"></span></a>
              </li>
              <li class="col-xs-10">
                <p>{{newDetail.privacy}}</p>
                <a href="#/editdetails">Edit<span class="edit"></span></a>
              </li>    
            </ul>
      </div>
          <div class="detailFooter">
            <button class="btn btn-default btn-lg" ng-href="updateDetails(id)">Update Details</button>
          </div>
      </div>
</div>