<div class="message-box row">
  <div>
    <div class="message-input">
        <input id="name" type="text" value=
        "{{currentUser.username}}"class="ng-pristine ng-valid">
    </div>
    <div ng-controller="journalCtrl" id="messages" auto-scroll="messages" class="ng-scope">
      <p ng-repeat="(messageId, message) in messages" class="ng-scope ng-binding">{{message.content}}
        <em class="ng-binding"></em>blub
      </p>
    </div>
  <form ng-submit="submitMessage(newMessage)" class="ng-valid ng-dirty">
    <input id="message" type="text" ng-model="newMessage.content" placeholder="Message..." class="ng-valid ng-dirty"/>
    <input class="btn btn-lg-primary" id="send" type="submit" value="Send">
  </form>
</div>















<!-- <div class="my-journal-wrapper">
      <h3>My Journal</h3>
        <div class="my-journal-content">
          <div class="post">
            <h4><a href="#">Post Title</a></h4>
            <div class="post-authordatetime">
              <strong>Author</strong>
              <span class="sep">|</span>
              <span>Date</span>
              <span class="sep">|</span>
              <a class="category" href="#">Category</a>
            </div>
            <div class="post-content">
              <a class="post-link" href="http://ahealthynetwork.firebaseapp.com/">
                <img src="http://fillmurray.com/g/45/45">
              </a>
              <p>Post Content:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, neque, esse, distinctio consequatur natus quos pariatur maiores dignissimos enim magni laboriosam nisi itaque saepe dolorem nostrum minus sit iure doloribus!</p>
            </div>        
          </div>
        </div>
  </div> -->