<div class="my-journal-wrapper">
      <h4>My Journal</h4>
        <div class="my-journal-content">
          <div class="post">
            <h3><a href="#">Post Title</a></h3>
            <div class="post-authordatetime">
              <strong>Author</strong>
              <span class="sep">|</span>
              <span>Date</span>
              <span class="sep">|</span>
              <a class="category" href="#">Category</a>
            </div>
            <div class="post-content">
              <a class="post-link" href="http://ahealthynetwork.firebaseapp.com/">
                <img src="http://fillmurray.com/g/45/45">
              </a>
              <p>Post Content:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, neque, esse, distinctio consequatur natus quos pariatur maiores dignissimos enim magni laboriosam nisi itaque saepe dolorem nostrum minus sit iure doloribus!</p>
            </div>        
          </div>
        </div>
  </div>