<div class="container login-container">
    <div class="login-register-wrapper">
        <div class="header">
        </div><!--header end -->
            <div class="body">        
                <div class="caption">
                    <p class="app-title balance">
                    balanced
                    </p>
                    <h3 class="subtitle">
                        Create your account. A holistic social experience for <span class="balance">balanced</span> living.   
                    </h3>

                </div><!--caption end -->
                <div class="register">
                    <div class="btn-group"> 
                    <p>
                        <button ng-click="custom=!custom" class="btn btn-lg-primary register"><span class="glyphicon glyphicon-envelope"></span><strong>Sign up!</strong>
                        </button> 
                        <button ng-click="custom1=!custom1" class="btn btn-lg-primary register"><strong><span class="glyphicon glyphicon-log-in"></span>Login</strong>
                        </button> 
                    </p>
                    </div> <!-- end btn-group -->
                        <div ng-hide="custom">
                            <form ng-submit="register()" name="form">
                                <div ng-show="error || form.username.$error">
                                    <p ng-show="error" class="text-danger">{{ error }}</p>
                                    <p ng-show="form.username.$error.taken" class="text-danger"> Username is already taken.</p>
                                    <p ng-show="form.username.$error.invalid" class="text-danger">Username contains invalid characters.</p>
                                </div>
                                    <input type="email" ng-model="user.email" placeholder="Email" class="form-control registerinputs">
                                    <input type="text" ng-model="user.username" placeholder="Username" name="username" check-username class="form-control registerinputs">
                                    <input type="password" ng-model="user.password" placeholder="Password" class="form-control registerinputs">
                                    <input type="submit" value="Register" class="btn btn-primary" /> 
                            </form>
                        </div> <!-- end div 'custom' -->
                </div><!-- end register -->
                <div class="login">
                    <div ng-hide="custom1">
                        <form ng-submit="login()">
                            <p ng-show="error" class="text-danger">{{ error }}</p>
                                <input type="email" ng-model="user.email" placeholder="Email" class="logininputs form-control">
                                <input type="password" ng-model="user.password" placeholder="Password" class="logininputs form-control">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                        </form>
                    </div><!-- end div 'custom1' -->  
                </div><!-- end login -->
            </div><!-- end body -->
        </div> <!-- end login wrapper -->
    <div class="footer">    
        <nav>
            <div class="footer-container">
                <div class="row">
                    <div class="img-bottom">
                        <img src="/images/Moi.jpg" alt=""> Andrew Raynal 2014 &copy;All Rights Reserved
                    </div>
                    <div class="nav-bottom">
                        <ul>
                            <li>Home |</li>
                            <li>About |</li>
                            <li>Profile |</li>
                            <li>Contact |</li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div> <!-- end container -->