<div class="container main">
    <div class="login-register-wrapper">
    <div class="wrapper header">
    </div>
    <div class="body">        
        <div class="caption">
        <h1 class="app-title">
            <span>Welcome to A Healthy Network!</span>
        </h1>
            <h4 class="subtitle">
                Create your account to being a new, healthy life.  Share thoughts and advice with others to inspire, understand, and grow.
            </h4>
        </div>
        <div class="register">
            <button ng-click="custom=!custom" class="btn btn-lg-primary register"><span class="glyphicon glyphicon-envelope"></span><strong>Register with Email</strong></button> 
            <form ng-submit="register()">
                <div ng-hide="custom">
                    <input ng-model="user.username" class="form-control userinputs" placeholder="Create Username" />
                    <input ng-model="user.email" type="text" class="form-control userinputs" placeholder="Email"/>
                    <input ng-model="user.password" type="password" class="form-control userinputs" placeholder="Password"/>
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
                    <div class="custom" ng-show="custom"></div>
            </form>
        </div>
        <div class="login">
            <button ng-click="custom1=!custom1" class="btn btn-xl-default"><span class="glyphicon glyphicon-log-in"></span><strong>Already have an account? Sign in.</strong></button>
            <form ng-submit="login()">
            <div ng-hide="custom1">
                <input ng-model="user.email" type="text" class="form-control userinputs" placeholder="Email"/>
                <input ng-model="user.password" type="password" class="form-control userinputs" placeholder="Password"/>
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
                <div class="custom1" ng-show="custom1"></div>
            </form>   
        </div>
         <h3 class="subtitle">
                A HEALTHY LIFE AND COMMUNITY AWAIT 
            </h3>
      </div>
    </div>  
      <div class="footer">
        <nav>
            <div class="footer-container">
                <div class="row">
                    <div class="img-bottom">
                        <img src="/images/Moi.jpg" alt=""> Andrew Raynal 2014 &copy;All Rights Reserved
                            </div>
                            <div class="nav-bottom">
                                <ul>
                                    <li>Home |</li>
                                    <li>About |</li>
                                    <li>Profile |</li>
                                    <li>Contact |</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
  
    </div>
</div>