<div class="login-container">   
                <div class="caption">
                    <h2 class="balance">
                    Balanced
                    </h2>
                    <h3 class="subtitle">
                        Holistic health.  Live better.   
                    </h3>
                    <div class="login-register-body">   
                <div class="form-main-login">
                <div class="form-div-login">
                    <h4>If you're already a member, log in with your email and password!</h4><h4>New to the place?  Register<a class="show" href="#">here!</a></h4>
                        <form class="form" id="form1" ng-submit='login()'>
                            <p class="email">
                                <input type="email" ng-model="user.email" placeholder="Email" class="login-input" id="email"/>
                            </p>
                            <p>    
                            <input type="password" ng-model="user.password" placeholder="Password" class="login-input" id="password"/>
                            </p>
                             <div class="submit">
                                <input type="submit" id="login-button" value="Log In"/>
                            </div>
                        </form>

                </div> <!-- end form div -->
                <script>
                    $('.show').click(function() {
                    event.preventDefault();
                    $('.form-div-login').hide();
                    $('.form-div-register').removeClass('hide');
                    });
                </script>
                <div class="form-div-register hide">
                    <h4>Register now!  Provide a username, email, and password.</h4>
                        <form class="form" id="form2" ng-submit='register()'>
                           <div ng-show="error || form.username.$error">
                                <p ng-show="error" class="text-danger">{{ error }}</p>
                                <p ng-show="form.username.$error.taken" class="text-danger">Username is already taken.</p>
                                <p ng-show="form.username.$error.invalid" class="text-danger">Username contains invalid characters.</p>
                            </div>
                            <p class="username">
                                <input type="text" ng-model="user.username" placeholder="Username" class="register-input" id="username"/>
                            </p>
                            <p class="email">
                                <input type="email" ng-model="user.email" placeholder="Email" class="register-input" id="email"/>
                            </p>
                            <p>    
                            <input type="password" ng-model="user.password" placeholder="Password" class="register-input" id="password"/>
                            </p>
                             <div class="submit">
                                <input type="submit" id="login-button" value="Register"/>
                                <div class="login-button-ease"></div>
                            </div>
                        </form>

                </div> <!-- end form div -->
            </div><!-- end form main login -->
            <div class="form-main-register">
            </div><!-- end form main login -->
        </div><!-- end login-register-body -->
                </div><!--caption end -->
</div>
<footer class="site-footer">    
        <nav>
            <div class="img-bottom">
                <img src="/images/Moi.jpg" alt=""> Andrew Raynal 2014 &copy;All Rights Reserved
            </div>
        </nav>
    </footer>
