<div class="container login-container">
        <div class="header">
        </div><!--header end -->
             <div class="login-register-wrapper">      
                <div class="caption">
                    <p class="app-title balance">
                    Balanced
                    </p>
                    <h3 class="subtitle">
                        Create your account. A holistic social experience for <span class="balance">balanced</span> living.   
                    </h3>

                </div><!--caption end -->
                <ul class="login-register">
                    <li>
                        <p>New to the place?</p>
                    </li>
                    <li>
                        <a class="btn btn-primary" href="#/register">Sign up!</a>
                    </li>
                    <li>
                        <p>Already a member?</p>
                    </li>
                    <li>
                        <a class="btn btn-primary" href="#/login">Log in!</a>
                    </li>
                </ul>
            </div><!-- end login wrapper -->
    <footer class="site-footer">    
        <nav>
            <div class="footer-container">
                <div class="row">
                    <div class="img-bottom">
                        <img src="/images/Moi.jpg" alt=""> Andrew Raynal 2014 &copy;All Rights Reserved
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</div> <!-- end container -->