<div class="container main">
    <div class="modal-header">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://ahealthynetwork.firebaseapp.com" class="navbar-brand">ahealthynetwork</a>
            </div> 
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#/userhome">My Profile</a>
                    </li>
                    <li class="dropdown">
                        <a type="button" data-toggle="dropdown" class="dropdown-toggle" href>My Info<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href>My Details</a></li>
                            <li><a href>My News</a></li>
                            <li><a href>My Journal</a></li>
                        </ul>
                    </li>
                </ul>  
            <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
            </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="nav-btn btn btn-lg-primary" ng-click="custom1=!custom1">Login</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div> <!--header close-->
    <div class="modal-body">
        <div class="left-half"></div>
        <div class="right-half"></div>  
        <div class="homeUnauthLogoWhrapper">
            <h1 class="homeUnauthLogo">
                <span>A Healthy Network</span>
            </h1>
        </div>

        <div class="inspiredSearchPinCaption centeredWithinWrapper">
            <div class="title">
            A healthy life awaits.  
            </div>
            <div class="subtitle">
                Choose a username and password to begin a new, healthy life.  Share your healthy life with others to inspire, understand, and grow. :)
            </div>
        </div>
        <div class="register">
            <div class="registerButtons">
             <form class="loginForm" method="post">
                <div class="login">
                    <button ng-click="custom=!custom" class="btn btn-lg-primary">Register with Email
                    </button>
                    <div class="new-email-password" ng-hide=
                    "custom">
                        <input ng-model="user.username" class="form-control" placeholder="Create Username" />
                        <input ng-model="newUser.email" type="text" class="form-control" placeholder="Email Address"/>
                        <input ng-model="newUser.password" type="password" class="form-control" placeholder="Password"/>
                            <button class="submit-new-user btn btn-xl-default" ng-click="register(newUser.email, newUser.password)">Create Account
                            </button>
                    </div>
                    <div ng-show="custom"></div>
                </div>
                <div class="modal-footer">
                    <button ng-click="custom1=!custom1" class="btn btn-xl-default">Already have an account? Sign in.</button>
                    <input class="email-input" ng-model="newUser.email" ng-hide="custom1" type="text" class="form-control" placeholder="Email Address"/>
                    <input class="password-input" ng-model="newUser.password" ng-hide="custom1" type="password" class="form-control" placeholder="Password"/>
                    <button ng-hide="custom1" ng-click="login(newUser.email, newUser.password)" class="btn btn-xl-default">Log In
                    </button>
                    <span ng-show="custom1"></span>
                </div>
            </form>
            </div>
        </div>
    </div>