<div class="picLayout">
</hr>
<h4>My Good Pics</h4>
      <div class="bar">
        <a class="list-icon" ng-class="{active: isLayout('list')}" ng-click="setLayout('list')"></a>
        <a class="grid-icon" ng-class="{active: isLayout('grid')}" ng-click="setLayout('grid')"></a>
      </div>
      <ul ng-show="isLayout('grid')" class="grid">
      <!-- A view with big photos and no text -->
        <li ng-repeat="p in pics">
          <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.low_resolution.url}}" /></a>
        </li>
      </ul>
      <ul ng-show="isLayout('list')" class="list">
      <!-- A compact view smaller photos and titles -->
        <li ng-repeat="p in pics">
          <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.thumbnail.url}}" /></a>
          <p>{{p.caption.text}}</p>
        </li>
      </ul>
    </div>
  </div>