<div class="form-posts">
  <div class="posts-bar">
    <img class="journal-icon" src="../images/journal-white.png" />
    <span class="posts-header">
      <h2> Journal </h2>
    </span>
  </div><!-- end bar -->
  <div class="form-div-posts">
    <form class="form" id="form1"  ng-submit="submitPost()" ng-show="signedIn()">
      <label class="post-label">Write a journal entry:</label>
          <p class="title">
            <input type="text" class="post-input" placeholder="Entry Title" id="title" ng-model="post.title"/>
          </p>
          <p class="date">
            <input type="date" class="post-input" id="date" ng-model="post.date" />
          </p>
          <p class="text">
            <textarea class="post-input" id="post-comment" placeholder="Content" ng-model="post.content"></textarea>
          </p>
          <div class="submit">
            <input type="submit" id="post-button" value="Save Post"/>
            <div class="post-button-ease"></div>
          </div>
    </form>
  </div> <!-- end form div post -->
</div><!-- end form post -->
  <div class="post row post-row" ng-repeat="(postId, post) in posts">
    <div class="info">
      <h3 class="content-title">{{ post.title }}</h3>
    </div> <!-- end info -->
    <div class="author">
      <span>Submitted by: 
        <a class="post-owner" href="#/users/{{ post.owner }}">{{ post.owner }}</a> on <a href="#">{{ post.date | date }} </a>
      </span>
        &mdash;<a href="#/posts/{{ postId }}">
      <span class="glyphicon glyphicon-zoom-in"></span>View Comments</a>
        <a ng-click="deletePost(postId)" ng-show="signedIn() && post.owner === currentUser.username">
      <span class="glyphicon glyphicon-trash">Delete</span></a>
    </div> <!-- end author -->
  </div>
</div>

