<div class="profilepage container">
    <div class="col-xs-6 col-sm-4 left">
        <div ng-include="'views/details.html'"></div>
    </div> <!-- end left col -->
    <div class="col-xs-6 col-sm-4 middle">
        <div class="picLayout middle">
            <div ng-include="'views/healthfinder.html'"></div>
            <!-- <div ng-include="'views/pic-layout.html'"></div> -->
        </div>
    </div> <!-- end mid col -->
    <div class="col-xs-6 col-sm-4 right">
      <div ng-include="'views/posts.html'"></div>
    </div> <!-- end right col -->
    <div class="footer"></div>
</div>
