<div class="profilepage container">
        <div ng-include="'views/nav-auth.html'"></div><!-- end header -->
    <div class="col-xs-6 col-sm-4 left" ng-controller="detailCtrl">
        <div ng-include="'views/detailList.html'"></div>
    </div> <!-- end left col -->
    <div class="col-xs-6 col-sm-4 middle">
        <div class="picLayout middle" ng-controller="picCtrl">
            <div ng-include="'views/picLayout.html'"></div>
        </div>
    </div> <!-- end mid col -->
    <div class="col-xs-6 col-sm-4 right">
      <div ng-include="'views/journal.html'"></div>
      <div ng-include="'views/healthfinder.html'"></div>
    </div> <!-- end right col -->
    <div class="footer"></div>
</div>
