<div class="show-posts">
  <div class="header">
    <h2 class="post-header">{{ post.title | uppercase }}</h2>
  </div> <!-- end header -->
    <div class="col-md-9 col-xs-11">

      <div class="post-view">
       <div class="post-title"><h3>{{ post.title }} | <span> by: <a class="glyphicon glyphicon-pencil" href="#/users/{{ post.owner }}">{{ post.owner | uppercase}}</a>
        </span></h3>
      </div> <!-- end post title -->
        <p class="post-content">{{ post.content }}</p>
          <span class="glyphicon glyphicon-edit" ng-show="signedIn() && post.owner === currentUser.username">edit</span>
          <span class="glyphicon glyphicon-trash" ng-click="deletePost(postId)" ng-show="signedIn() && post.owner === currentUser.username">delete</span>  
  </div> <!-- end col-md-9 -->

 <div ng-repeat="(commentId, comment) in post.comments" class="row cmt">
    <div class="col-md-12">
      <p>{{ comment.text }}</p>
      <p class="author">posted by <a href="#/users/{{ comment.username }}">{{ comment.username | uppercase }}</a> <a ng-click="removeComment(comment, commentId)" ng-show="signedIn() && comment.username === currentUser.username"><span class="glyphicon glyphicon-trash"></span></a></p>
    </div> <!-- end comment repeat -->
  </div> <!-- end col md 12 -->

  <div class="cmt-form">
    
    <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> to post a comment</p>
    </div> <!-- end hide -->

    <form ng-submit="addComment(commentId)" ng-show="signedIn() ">
      <textarea ng-model="comment.text" placeholder="Post a Comment" class="form-control cmt-text"></textarea>
      <button type="submit" class="btn btn-xs cmt-btn"><span class="glyphicon glyphicon-pencil"></span>Post Comment</button>
    </form>
  </div> <!-- end cmt-form -->
</div> <!-- end post view --> 
</div> <!-- end show -->
<footer class="site-footer">    
        <nav>
            <div class="footer-container">
                <div class="row">
                    <div class="img-bottom">
                        <img src="/images/Moi.jpg" alt=""> Andrew Raynal 2014 &copy;All Rights Reserved
                    </div>
                </div>
            </div>
        </nav>
    </footer>
