<div class="showdetails">
      <form class="details" role="submit" ng-submit="submitDetail()">
        <fieldset>
          <legend>{{currentUser.username | uppercase}}<span>{{photo}}</span></legend>

          <upload-directive></upload-directive>
          <ul>
            <li>
              <a href="#"><img class="profileimg" ng-src="{{detail.photo}}"/></a>
            </li>
            <label>First Name:</label>
            <li>
              {{detail.firstname}}
            </li>
            <label>Last Name:</label>
            <li>
             {{detail.lastname}}
            </li>
            <label>Location:</label>
            <li>
              {{detail.location}}
            </li>
            <label>Gender:</label>
            <li>
              {{detail.gender}}
            </li>
              <label>Age:</label>
            <li>
              {{detail.age}}
            </li>
             <label>Personal Message:</label> 
            <li>
              {{detail.personalmsg}}
            </li>
            <li>
              <button ng-click="deleteDetail(detail, detailId)" ng-show="signedIn() && detail.username === currentUser.username">DELETE</button>
            </li>
         </ul>
        </fieldset>
      </form>

</div>