<div class="create-details">
    <div class="create-form">
      <div class="header">
        <h2 class="form-header">{{currentUser.username | uppercase }}'S Details</h2>
      </div>
    <div class="profileimg"><img class="profileimg" ng-src="{{detail.photo}}"/></div>

    <form class="contactform" ng-submit="updateDetail()">  
      <p class="contact"><label for="firstname">First Name</label></p>
      <input class="firstname" name="firstname" value="{{detail.firstname}}">
      
      <p class="contact"><label for="lastname">Last Name</label></p>
      <input class="lastname" name="lastname" value="{{detail.lastname}}">      

      <p class="contact"><label for="location">Location</label></p>
      <input class="location" name="location" value="{{detail.location}}">

      <p class="contact"><label for="age">Age</label></p>
      <input class="age" type="number" value="{{detail.age}}">
     
     <p class="contact"><label for="gender">Gender</label></p>
      <input class="gender" value="{{detail.gender}}">

      <p class="contact"><label for="personalmsg">Personal Message</label></p>
      <input class="personalmsg" name="personalmsg" value="{{detail.personalmsg}}"> <br>
      <input class="btn btn-primary" name="submit" id="submit" tabindex="5" value="Update Details" type="submit">   
  </form>
      <a href="#/users/{{currentUser.username}}">Confirm</a>
  
</div>