<div class="row">
    <div class="col-xs-6 col-sm-4">
      <h3>{{user.name}}</h3>
      <div class="circle-photo">
        <img src="http://placehold.it/140x100">  
        <a href="addImage()">Change My Picture</a>
      </div>   
    <div class="my-details lft">
      <form class="my-details">
        <h3>My Details</h3>
         <ul class="form-group has-success">
            <li class="col-xs-12">
              <h5>{{user.location}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>
            <li class="col-xs-12">
              <h5>{{user.gender}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>
            <li class="col-xs-12">
              <h5>{{user.age}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>
            <li class="col-xs-12">
              <h5>{{user.message}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>
            <li class="col-xs-12">
              <h5>{{user.privacy}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>    
        </ul>
        <div class="formFooter">
           <button class="btn btn-warning" ng-click="launch('create')">Edit Info</button>
        </div>
      </form>
    </div>
  </div>