<div class="userhome">
    <div class="header">
        <div ng-include="'views/nav.html'"></div>
    </div> <!-- end header -->
    <div class="col-xs-6 col-sm-4 left">
        <div ng-include="'views/detailList.html'"></div>
    </div> <!-- end left col -->
    <div class="col-xs-6 col-sm-4 middle">
        <div class="otheruseractivity">
          <h3>Other User Activity</h3>
          <ul class="otheruseract-list">
            <li class="otheruseract-listdetail">
              <img src="http://placehold.it/100x100">
            </li>
            <li class="otheruseract-listdetail">
              <img src="http://placehold.it/100x100">
            </li>
            <li class="otheruseract-listdetail">
             <img src="http://placehold.it/100x100">
            </li>
          </ul>
        </div>
        <div class="picLayout middle">
            <div ng-include="'views/picLayout.html'"></div>
        </div>
    </div> <!-- end mid col -->
    <div class="col-xs-6 col-sm-4 right">
      <div ng-include="'views/journal.html'"></div>
      <div ng-include="'views/active.html'"></div>
    </div> <!-- end right col -->
    <div class="footer"></div>
</div>