
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <h3>{{user.name}}</h3>
      <div class="circle-photo">
        <img src="http://placehold.it/140x100">  
        <a href="addImage()">Change My Picture</a>
      </div>   
    <div class="my-details lft">
      <form class="my-details">
        <h3>My Details</h3>
         <ul class="form-group has-success">
            <li class="col-xs-10">
              <h5>{{user.location}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>
            <li class="col-xs-10">
              <h5>{{user.gender}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>
            <li class="col-xs-10">
              <h5>{{user.age}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>
            <li class="col-xs-10">
              <h5>{{user.message}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>
            <li class="col-xs-10">
              <h5>{{user.privacy}}</h5>
              <a href="#/user-edit">Edit<span class="edit"></span></a>
            </li>    
        </ul>
        <div class="formFooter">
          <button ng-click="editInfo()" type="button" class="btn btn-success">Edit All Details</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 middle">
    <div class="otheruseractivity">
      <h3>Other User Activity</h3>
      <ul class="otheruseractivity-list">
        <li class="otheruseractivity-listitem">
          <img src="http://placehold.it/100x100">
        </li>
        <li class="otheruseractivity-listitem">
          <img src="http://placehold.it/100x100">
        </li>
        <li class="otheruseractivity-listitem">
          <img src="http://placehold.it/100x100">
        </li>
      </ul>
    </div>
    <div class="my-health instagram" ng-controller="HealthCtrl">
      <h4>My Health Info</h4>
      <div class="health-feed">
        <div class="bar">

    <!-- These two buttons switch the layout varaible,
       which causes the correct UL to be shown. -->

    <a class="list-icon" ng-class="{active: isLayout('list')}" ng-click="setLayout('list')"></a>
    <a class="grid-icon" ng-class="{active: isLayout('grid')}" ng-click="setLayout('grid')"></a>
  </div>

  <!-- We have two layouts. We choose which one to show depending on the "layout" binding -->

  <ul ng-show="isLayout('grid')" class="grid">
    <!-- A view with big photos and no text -->
    <li ng-repeat="p in pics">
      <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.low_resolution.url}}" /></a>
    </li>
  </ul>

  <ul ng-show="isLayout('list')" class="list">
    <!-- A compact view smaller photos and titles -->
    <li ng-repeat="p in pics">
      <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.thumbnail.url}}" /></a>
      <p>{{p.caption.text}}</p>
    </li>
  </ul>
</div>
       <!-- <ul class="my-health choices">
          <li class="dropdown">
            <button type="button" data-toggle="dropdown" class="dropdown-toggle">Choose Your Info<b class="caret"></b></button>
              <ul class="dropdown-menu">
                <li><a href="#">All Tags</a></li>
                <li><a href="#">Mind</a></li>
                <li><a href="#">Body</a></li>
                <li><a href="#">Spirit</a></li>
              </ul>
          </li>
        </ul>  -->
    </div>
    <div class="my-local">
      <h4>My Local Community</h4>
      <div class="my-local feed">

      </div>
        <ul class="my-local choices">
          <li class="dropdown">
            <button type="button" data-toggle="dropdown" class="dropdown-toggle">Choose Your Local Activity<b class="caret"></b></button>
              <ul class="dropdown-menu">
                <li><a href="#">yoga</a></li>
                <li><a href="#">music</a></li>
                <li><a href="#">meditation</a></li>
                <li><a href="#">arts</a></li>
                <li><a href="#">strength training</a></li>
                <li><a href="#">running</a></li>
                <li><a href="#">sailing</a></li>
                <li><a href="#">fishing</a></li>
              </ul>
          </li>
        </ul> 
    </div>
  </div>
  <div class="col-xs-6 col-sm-4">
    <div class="my-journal-wrapper">
      <h4>My Journal</h4>
        <div class="my-journal-content">
          <div class="post">
            <h3><a href="#">Post Title</a></h3>
            <div class="post-authordatetime">
              <strong>Author</strong>
              <span class="sep">|</span>
              <span>Date</span>
              <span class="sep">|</span>
              <a class="category" href="#">Category</a>
            </div>
            <div class="post-content">
              <a style="float: right; margin: 0 10px 10px 20px;" href="http://www.huffingtonpost.com/steve-horn/earth-day-greenwash-api-f_b_5194700.html">
                <img src="http://s.huffpost.com/contributors/steve-horn/headshot.jpg" alt="Steve Horn" width="45">
              </a>
              <p>Post Content:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, neque, esse, distinctio consequatur natus quos pariatur maiores dignissimos enim magni laboriosam nisi itaque saepe dolorem nostrum minus sit iure doloribus!</p>
            </div>        
          </div>
        </div>
    </div>
    <div class="footer">
      <p><button type="button" class="btn btn-success">Save Changes</button></p>
    </div>
  </div>
</div>